.pageBody {
  width: 100vw;
  height: 100vh;
  background: #e55454;
}

.gridContainer {
  padding: 40px 20px;
  margin: 0;
  display: inline-block;
}

.loadingMsg {
  text-align: center;
  margin-top: 0;
  padding: 200px 15px;
}
