.headerContent {
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid black;
  background: #272728;
  //box-shadow: 0 8px 6px -6px #999;

  .headline {
    color: white;
  }

  .subheader {
    color: white;
  }
}
